{% extends "base_generic.html" %}

{% block title %}
    <title>{{title}}- LitReview</title>
{% endblock%}

{% block content %}
<h2>{{title}}</h2>

<form action="" method="post" class="block-form">

    {% if ticket %}
    <div class="form__header">
        <p>Vous êtes en train de poster en réponse à</p>
        {% include "ticket_snippet.html" with post=ticket edit=False %}
    </div>
    {% elif ticket_form %}
    <h3>Livre / Article</h3>
    <div class="form__body">
        {{ ticket_form.as_div }}
    </div>
    {% endif %}

    {% csrf_token %}
    
    <h3>Critique</h3> 
    <div class="form__body">
        {{ form.as_div }}
    </div>
    <div class="form__footer">
        <input type="submit" value="Envoyer" class="link-button">
    </div>
</form>

{% endblock%}