{% extends "base_generic.html" %}

{% block title %}
    <title>{{title}} - LitReview</title>
{% endblock%}

{% block content %}
<h2>{{title}}</h2>

{% if form.is_multipart %}
<form enctype="multipart/form-data" method="post" action="" class="block-form">
{% else %}
<form method="post" action="">
{% endif %}

    {% csrf_token %}
    <div class="form__body">
        {{ form.as_div }}
    </div>

    <div class="form__footer">
        <input type="submit" value="Envoyer" class="link-button">
    </div>
</form>
{% endblock%}