{% extends "base_generic.html" %}

{% block title %}
    <title>{{title}} - LitReview</title>
{% endblock%}

{% block content %}
    <section class="links-section">
        <div class="link-button">
            <a href="{% url 'add_ticket' %}">Demander une critique</a>
        </div>
        <div class="link-button">
            <a href="{% url 'fresh_review' %}">Créer une critique</a>
        </div>
    </section>

    <section class="list_posts">
        {% if object_list %}
            {% for post in object_list %}
                {% if post.content_type == "REVIEW" %} 
                    {% include "review_snippet.html" with edit=False %}
                {% elif post.content_type == "TICKET" %}
                    {% include "ticket_snippet.html" with edit=False  %}
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Les personnes que vous suivez n'ont rien publié pour l'instant.</p>
        {% endif %}
    </section>
{% endblock %}

