{% extends "base_generic.html" %}

{% block title %}
    <title>Mes abonnements - LitReview</title>
{% endblock%}

{% block content %}
<h2>Suivre d'autres utilisateurs</h2>
<form class="inline-form" action="" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <input class="link-button" type="submit" value="Envoyer">
</form>

<h2>Abonnements</h2>
    {% if following %}
    <table class="list_user">
        {% for user in following %}
            <tr>
                <td>{{user}}</td>
                <td><a href="{% url 'unfollow' id=user.id %}">Se désabonner</a></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Vous ne suivez pas d'utilisateurs pour le moment.</p>
    {% endif %}

<h2>Abonnés</h2>
    {% if followed_by %}
    <table class="list_user">
        {% for user in followed_by %}
            <tr>
                <td>{{user}}</td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>Aucun utilisateurs ne vous suit pour le moment.</p>
    {% endif %}

{% endblock %}