{% extends "base_generic.html" %}

{% block title %}
    <title>{{title}} - LitReview</title>
{% endblock%}

{% block content %}
    <h2>{{title}}</h2>
    {% if object_list %}
        {% for post in object_list %}
            {% if post.content_type == "REVIEW" %} 
                {% include "review_snippet.html" with edit=True %}
            {% elif post.content_type == "TICKET" %}
                {% include "ticket_snippet.html" with edit=True %}
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Vous n'avez pas de ticket ou de critique publié.</p>
    {% endif %}
{% endblock%}

